h1,
p {
  font-family: Lato;
}
/* .NavbarMenu {
  background-color: brown;
  padding: 6px;
}
.NavbarMenu a {
  color: white;
} */
.card-img {
  width: 250px;
  height: 250px;
}

/* // flip css */

.flip-card {
  background-color: transparent;
  border: 2px solid black;
  width: 250px;
  height: 250px;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #bbb;
  color: black;
}

.flip-card-back {
  padding: 50px;
  background-color: rgb(228, 209, 101);
  color: white;
  transform: rotateY(180deg);
}
/* // Button css */
.button {
  border-radius: 4px;
  background-color: #489ceb;
  border: none;
  color: #ffffff;
  text-align: center;
  font-size: 15px;
  padding: 10px;
  width: 80px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}
/* Navbar1 css */

.topnav {
  background-color: #333;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: rgb(228, 209, 101);
  color: black;
}

/* Add an active class to highlight the current page */
/* .topnav a.active {
  background-color: rgb(228, 209, 101);
  color: white;
} */

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}
